{% load i18n %}
{% autoescape off %}
--- {% trans "RECOVERY_PACKET_DISPATCHED" %} ---
--------------------------------------------------
{% trans "Incoming request detected for CREDENTIAL_OVERRIDE on your node." %}

{% trans "Please navigate to the following secure link to verify your identity:" %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "If you did not authorize this request, please disregard this transmission. The link will expire shortly." %}
--------------------------------------------------
--- {% trans "CORE_SYSTEM_ADMIN // EOF" %} ---
{% endautoescape %}
