{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="account-viewport">
    <div class="auth-card text-center">
        <h2 class="text-uppercase fw-bold mb-4">
            {% trans "DECRYPTION_COMPLETE" %}
        </h2>

        <div class="mb-4">
            <i class="fas fa-check-double fa-3x"></i>
        </div>

        <p class="mb-4">
            {% trans "Credentials updated. User-node decrypted and ready for uplink." %}
        </p>

        <div class="d-grid gap-2">
            <a href="{% url 'accounts:login' %}" class="btn btn-solid" >
                {% trans "UPLINK_IMMEDIATELY" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
